@charset "utf-8";

/* IMAGES TAKEN FROM COLORBOX, SVALEGAARDEN MEST */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --blue: #191c27;
    --gray: #666666;
    --red: #96192b;
    --graybg: #bebebe;
    --white: #ffffff;
    --black: #000000;

}

#all_seasons a {
    text-shadow: var(--black) 5px 5px 5px;
}

main {
    max-width: 100vw;
}

header, main, footer{
    display: block;
    width: 100%;
}

.active{
    background-color: var(--red);
}


h1,
h2,
h3 {
    color: var(--red);
}

.breakingsection_text h3 {
    color: var(--white);
}
/* cards */

.s2 article,
.s3 article,
.s4 article,
.s5 article,
.s6 article{
    border: solid black .5px;
    background-color: rgba(255, 255, 255, 0.820);
    box-shadow: black 3px 3px 6px;
    padding: 5%;
    margin-bottom: 5%;
}

.bgcard {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bgcardseasonalmenu {
    background-image: url(../images/card_experience.jpg);
}

.bgcardeatatmest {
    background-image: url(../images/card_eat.jpg);
}

.bgcardeatatmestmenu1 {
    background-image: url(../images/eatmest_food1.jpg);
}

.bgcardeatatmestmenu2 {
    background-image: url(../images/eatmest_food2.jpg);
}
.bgcardeatatmestmenu3 {
    background-image: url(../images/eatmest_food3.jpg);
}
.bgcardeatatmestmenu4 {
    background-image: url(../images/eatmest_food4.jpg);
}


.bgcardevent {
    background-image: url(../images/card_event.jpg);
}

.bgcardwedding {
    background-image: url(../images/wedding.jpg);
}

.bgcardconfirmation {
    background-image: url(../images/confirmation.jpg);
}

/* cards */

/* button */

article a,
#bg-reservation a{
    display: inline-block;
    background-image: url(../images/goto.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 5%;
    margin-top: 5%;
}

#bg-reservation a {
    background-image: url(../images/goto-black.svg);
}


/* button */

/* START of Header Hero Images */

.landingpageheader {
    background-image: url("../images/hero_landing.jpg");
}

.aboutusheader{ 
    background-image: url("../images/aboutsus_hero.jpg");
}

.menuheader {
    background-image: url("../images/menu_hero.jpg");
}

.eatatmestheader {
    background-image: url("../images/eatmest_menu.jpg");
}

.winterheader {
    background-image: url("../images/winter.jpg");
}

.springheader {
    background-image: url("../images/spring.jpg");
}

.summerheader {
    background-image: url("../images/summer.jpg");
}

.autumnheader {
    background-image: url("../images/autumn.jpg");
}

.eventsheader {
    background-image: url("../images/events_hero.jpg");
}

.confirmationheader {
    background-image: url("../images/confirmation.jpg");
}

.weddingheader {
    background-image: url("../images/hero_wedding.jpg");
}

.contactusheader {
    background-image: url("../images/contact_us_hero.jpg");
}

/* END of Header Hero Images */

/* START of Header */

header{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
    color: var(--white);
}

.flex{
    display: flex;
    flex-direction: row;
}

nav{
    background-color: var(--blue);
}

.logo{
    background-image: url("../images/svalegaarden_logo_white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}

ul{
    list-style-type: none;
    z-index: 3;
}

ul li{
 display: contents;
}

ul li a{
    text-align: center;
    display: inline-block;
}

/* END of Header*/


/* About us grid */
.story {
    grid-area: story_text;
}
.story_img {
    grid-area: story_img;
}
.today {
    grid-area: today_text;
}
.today_img {
    grid-area: today_img;
}
.owners {
    grid-area: owners_text;
}
.owners_img {
    grid-area: owners_img;
}
/* END of About us grid */

/* START of Seasonal Menu Sections on Menu page */

.winter {
    grid-area: winter;
    background-image: url(../images/winter.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 7px 7px 13px black;
    margin-bottom: 4%;
}

.spring {
    grid-area: spring;
    background-image: url(../images/spring.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 7px 7px 13px black;
    margin-bottom: 4%;

}

.summer {
    grid-area: summer;
    background-image: url(../images/summer.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 7px 7px 13px black;
    margin-bottom: 4%;

}

.autumn {
    grid-area: autumn;
    background-image: url(../images/autumn.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 7px 7px 13px black;
    margin-bottom: 4%;

}

/* END of Seasonal Menu Sections on Menu page */

/* START of Eat at Mest Sections on Menu page */

.friday {             
    background-image: url(../images/eatmest_menu.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    box-shadow: 7px 7px 13px black;
    }

.friday a {
    text-decoration: none;
    text-shadow: var(--black) 5px 5px 5px;
    color: var(--white);
    }


/* END of Eat at Mest Sections on Menu page */

/* MENU */

.food_menu {
    text-align: center;
    color: var(--black);
}

.menu_border p {
    text-align: center;
}

.menu_border h3 {
    color: var(--red);
    font-weight: 500;
}

/* MENU END */

/* Contact Us */

.contact_grid {
    display: grid;
}

.address a {
    color: var(--black);
    text-align: center;
}

.address {
    text-align: center;
    grid-area: address;
}

.contact_map {
    grid-area: map;
    width: 100vw;
}

.address p {
    text-align: center;
    margin: 0;
}

.reservation_form{
    margin: 4% 0;
}

/* Contact Us END */

/* START of Footer */

.footer_grid {
    display: grid;
}

footer {
    height: auto;
    width: 100%;
    background-color: var(--blue);
    text-align: center;
}

footer p {
    text-align: center;
    margin: 0;
    color: var(--white);
}

footer p a {
    color: var(--white);
}

.icons_social a {
    color: var(--white);
    padding: 2vw;
}



.footerlogo {
    grid-area: logo;
    background-image: url(../images/svalegaarden_logo_white.svg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.location {
    grid-area: location;
}

.contacts {
    grid-area: contacts;
}

.icons_social {
    grid-area: icons;
}

/* END of Footer */

@media (max-width: 430px){

    .s2 img,
    .s3 img,
    .s4 img {
        display: none;
    }

/* MENU */
.food_menu img {
    width: 50vw;
}
/* MENU END */


/* Card */

    .bgcard {
        margin-top: -15%;
        padding: 55% 5% 5% 5%;
    }

    .cardh {
        font-size: 5vw;
        color: var(--red);
    }

    .eatatmest p {
        text-align: center;
    }

    .eatatmest .bgcard {
        padding: 120% 5% 5% 5%;
    }

    .eatatmest .s2, 
    .eatatmest .s3 {
        margin-top: -50%;
    }

    .eventspage .bgcard{
    padding: 55% 5% 5% 5%;
    }

    
/* Card */

/* START of Header */ 

    .none{
        display: none;
    }
    
    .hide{
        display: none;
    }
    
    header{
        height: 75vw;
        margin-bottom: 7%;
    }
    
    nav {
        height: 8vh;
    }

    .landingpageheader nav {
        height: 8vh;
    }


    .logo{
        position: relative;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 0% 25%;
    }
    
    .bm{
        border: none;
        position: relative;
        top: 0;
        left: 35%;
        font-size: 26px;
    }
    
    .fa-bars{
        color: var(--white);
        background-color: transparent;
    }
    
    ul{
        width: 100vw;
        background-color: var(--red);
        position: absolute;
        margin-top: 8vh;
        height: fit-content;
    }
    
    ul li{
        width: 100%;   
    }
    
    ul li a{
        width: 100%;
        border-bottom: 1px solid var(--white);
        padding: 5% 0;
    }
    
    .headertext{
        width: 80%;
        top: 35vw;
        position: relative;
        margin: 0 auto;
        color: var(--white);
        text-align: center;
    }
    
    .landingpageheader .headertext {
        top: 20vw;
    }

    .heroline{
        border: solid var(--white) 1px;
    }
    
    h5,
    header div h1{
        font-size: 8vw;
        font-weight: bolder;
    }

    header div h1 {
        color: var(--white);
    }
    
    h6{
        font-size: 4vw;
    }

/* END of Header */

/* START of Breaking sections */

    .breakingsection_text {
        color: var(--white);
        padding: 15% 10% 3% 10%;
    }

    #bg-quality_service {
        background-image: url(../images/quality_service.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        max-width: 100%;
    }

    #bg-reservation {
        background-image: url(../images/reservation.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        max-width: 100%;
        margin-bottom: 7%;
    }

    #bg-reservation a{
        margin-top: -5%;
        margin-bottom: 6%;
        padding: 4%;
    }

/* END of Breaking sections */

/*Start of about us grid*/

main.aboutus {
    width: 88%;
    margin: 0 auto;
}

.aboutUs_grid {
    display: grid;
    grid-template-areas: 
    "story_text" 
    "story_img"
    "today_text" 
    "today_img" 
    "owners_text" 
    "owners_img";
}

.aboutUs_grid img {
    margin-bottom: 8%;
}

/* END of About us grid*/

/* START of h1 h2 p hr img properties*/

    h1+hr+p,
    h3+hr+p,
    h3+p {
        text-align: center;
    }

    h1,
    h2,
    h3 {
        text-align: center;
        line-height: 1.2;   
        width: 80%;
        margin: 0 auto;
    }    

    .titleline{
        margin: 7px auto 0 auto;
        width: 65%;
    }

    .sectionline {
        margin: 25px auto;
        width: 90%; 
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 6vw;
    }

    p {
        font-size: 16px;
        text-align: left;
        line-height: 1.6;
        margin: 20px 0;
    }

    img {
        width: 100%;
    }

    main article div {
        width: 100%;
        margin: 0 auto;
    }

/* END of h1 h2 p hr img properties */

/* START of Seasonal section in menu page */

    #all_seasons {
        display: grid;
        grid-template-areas: 
        "winter"
        "spring"
        "summer"
        "autumn";
        grid-row-gap: 10px;
    }

    #all_seasons a {
        text-align: center;
        text-decoration: none;
        padding: 10%;
        color: var(--white);
        font-size: 28px;
        margin-top: 0;
    }

    
    #Seasonal_menu {
        margin-bottom: 5%;
    }
/* END of Seasonal Menu section on menu page */

/* START of Eat At Mest section on menu page */

    .friday {             
        padding: 10%;
        margin-bottom: 5%;
        }

    .friday a {
        font-size: 28px;
    }

/* END of Eat At Mest section on menu page */

/* Contact page */
.contact_grid {
    grid-template-areas: "address"
     "map";
}
.address {
    margin-bottom: 20px;
}
.address hr {
    margin: 0 auto 20px auto;
}
.contact_map {
    margin-bottom: 20px;
}
/* Contact page */

/* START of Form */

    input[type=text],
    select,
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 4px;
        resize: vertical;
    }

    label {
        padding: 12px 12px 12px 0;
        display: inline-block;
    }

    input[type=submit] {
        background-color:  #96192b;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
    }

    input[type=submit]:hover {
        background-color: #6a1220;
    }

    .form {
        border-radius: 5px;
        padding: 20px;
    }

    .form1 {
        float: left;
        width: 25%;
        margin-top: 6px;
    }
    
    .form2 {
        float: left;
        width: 75%;
        margin-top: 6px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .form1,
    .form2,
    input[type=submit] {
            width: 100%;
            margin-top: 1%;
    } 


    #email, #phone, #date, #name, #subject, #event{
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    textarea {
        height: 150px;
    }

    /* END of Form */

    /* START of Footer */

    footer {
        padding: 3% 10%;
        grid-template-areas: 
        "logo"
        "location"
        "contacts"
        "icons";
    }

    .footerlogo {
        padding-top: 20%;
    }

    /* END of Footer */

    .reservation a, .reservation p          { text-align: center;}
    .reservation a                          { margin-top: 10px;}
    .reservation p                          { margin: 0;}
    .reservation                            { margin-bottom: 20px;}
    .wedding_menu_line{
        width: 80%;
        margin: 0 auto;
    }

}


@media (min-width:431px) and (max-width:720px){
    .s2 img,
    .s3 img,
    .s4 img {
        display: none;
    }


     /* MENU */
        .food_menu img {
            width: 50vw;
        }
        /* MENU END */

        
   /* Card */

   .bgcard {
    padding: 20% 5% 5% 5%;
}

.cardh {
    font-size: 5vw;
    color: var(--red);
}

.cardp {
    font-size: 3vw;
}

.eatatmest p {
    text-align: center;
}

.eatatmest .bgcard {
    padding: 90% 5% 5% 5%;
}

.eatatmest .s2, 
.eatatmest .s3 {
    margin-top: -40%;
}

.landingpage_main .s2{
    margin-top: -2rem;
}

.landingpage_main .s4{
    margin: 0.5rem 0;
}


/* Card */

    /*START of Header*/

    .none{
        display: none;
    }
        
    .hide{
        display: none;
    }
        
    header{
        height: 80vw;
        margin-bottom: 6%;
    }

    nav {
        height: 8vh;
    }
        
    .logo{
        position: relative;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 0% 25%;
    }
    
    .bm{
        border: none;
        position: relative;
        top: 0;
        left: 35%;
        font-size: 26px;
    }
    
    .fa-bars{
        color: var(--white);
        background-color: transparent;
    }
    
    ul{
        width: 100%;
        background-color: var(--red);
        position: absolute;
        margin-top: 8vh;
        height: fit-content;
    }
    
    ul li{
        width: 100%;       
    }
    
    ul li a{
        width: 100%;
        border-bottom: 1px solid var(--white);
        padding: 5% 0;
    }

    .headertext{
        width: 90%;
        position: relative;
        top: 40vw;
        margin: 0 auto;
        color: var(--white);
        text-align: center;
    }

    .landingpageheader .headertext {
        top: 32vw;
    }
    
    .heroline{
        border: solid var(--white) 1px;
    }
    
    h5,
    header div h1{
        font-size: 8vw;
        font-weight: bolder;
    }

    header div h1 {
        color: var(--white);
    }
    
    h6{
        font-size: 4vw;
    }

/* END of Header */

/* START of Breaking sections */

    .breakingsection_text {
        color: var(--white);
        padding: 20% 11% 5% 11%;
    }

    #bg-reservation a{
        margin-top: -5%;
        margin-bottom: 6%;
        padding: 4%;
    }

    #bg-quality_service {
        background-image: url(../images/quality_service.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        max-width: 100%;
    }

    #bg-reservation {
        background-image: url(../images/reservation.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        max-width: 100%;
        margin-bottom: 6%;
    }

/* END of Breaking sections */
 
/* START of h1 h2 p hr img properties */

    h1+hr+p,
    h3+hr+p,
    h3+p {
        text-align: center;
    }

    h1,
    h2,
    h3 {
        text-align: center;
        line-height: 1.2;   
        width: 85%;
        margin: 0 auto;
    }    

    h1 {
        font-size: 34px;
    }

    h2,
    h3 {
        font-size: 24px;
    }

    p {
        font-size: 20px; 
        text-align: left;
        line-height: 1.6;
        margin: 25px 0;
    }

    img {
        width: 100%;
    }

    main article div {
        width: 80%;
        margin: 0 auto;
    }

    .titleline{
        margin: 10px auto 0 auto;
        width: 65%;
    }

    .sectionline {
        margin: 35px auto;
        width: 80%; 
    }

/* END of h1 h2 p hr img properties */


/*Start of about us grid*/

main.aboutus {
    width: 82%;
    margin: 0 auto;
}

.aboutUs_grid {
    display: grid;
    grid-template-areas: 
    "story_text" "story_img"
    "today_text" "today_img" 
    "owners_text" "owners_img";
}
.aboutUs_grid p {
    font-size: 20px;
}

.aboutUs_grid img {
    margin-bottom: 8%;
}

/* END of About us grid*/

/* START of Seasonal section in menu page */

    #all_seasons {
        display: grid;
        grid-template-areas: 
        "winter"
        "spring"
        "summer"
        "autumn";
        grid-row-gap: 20px;
    }

    #all_seasons a {
        text-align: center;
        text-decoration: none;
        padding: 13%;
        color: var(--white);
        font-size: 36px;
        margin-top: 0;
    }

    .season {
        width: 100vw;
        height: auto;
    }

    #Seasonal_menu {
        margin-bottom: 5%;
    }

/* END of Seasonal Menu section on menu page */

/* START of Eat At Mest section on menu page */

    .friday {             
        padding: 13%;
        margin-bottom: 5%;
    }

    .friday a {
        font-size: 36px;
    }

/* END of Eat At Mest section on menu page */

/* Contact page */

.contact{
    width: 94%;
    margin: 0 auto;
}

.contact_grid {
    grid-template-areas: "map" "address";
    justify-items: center; 
}
.address {
    margin-bottom: 20px;
}
.address hr {
    margin: 0 auto 20px auto;
}
.contact_map {
    width: 80vw;
    height: 45vw;
    margin-bottom: 20px;
}

/* START of Form */

    input[type=text],
    select,
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 4px;
        resize: vertical;
    }

    label {
        padding: 12px 12px 12px 0;
        display: inline-block;
    }

    input[type=submit] {
        background-color:  var(--red);
        width: 65%;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
    }

    input[type=submit]:hover {
        background-color: #6a1220;
    }

    .form {
        border-radius: 5px;
        padding: 20px;
    }

    .form1 {
        float: left;
        width: 35%;
        margin-top: 6px;
    }
    
    .form2 {
        float: left;
        width: 65%;
        margin-top: 6px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }


    #email, #phone, #date, #name, #subject, #event{
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    textarea {
        height: 150px;
    }

/* END of Form */

/* START of Footer */

    footer {
        padding: 3% 11%;
        grid-template-areas: 
        "logo"
        "location"
        "contacts"
        "icons";
        }

    .footerlogo {
        padding-top: 18%;
    }

/* END of Footer */

    .reservation a, .reservation p          { text-align: center;}
    .reservation a                          { margin-top: 10px;}
    .reservation p                          { margin: 0;}
    .reservation                            { margin-bottom: 20px;}
    .wedding_menu_line{
        width: 85%;
        margin: 0 auto;
    }

}

@media (min-width:721px) and (max-width:1024px){
    .s2 img,
    .s3 img,
    .s4 img {
        display: none;
    }


      /* MENU */
      .menu_border {
        border: 1px solid black;
        padding: 4%;
        margin-bottom: 5%;
    }
    .food_menu img {
        width: 37vw;
    }
    .food_menu p {
        padding-bottom: 4%;
    }
    /* MENU END */

/* cards */

    .cardp br {
         display: none;
     }

    .bgcard {
        padding: 20% 5% 5% 5%;
    }

    .cardh {
        font-size: 5vw;
        color: var(--red);
    }

    .cardp {
        font-size: 3vw;
    }

    .s2 article,
    .s3 article,
    .s4 article,
    .s5 article,
    .s6 article{
        padding: 2% 5%;
        width: 85%;
        margin: 0 auto 5% auto;
    }

    .eatatmest p {
        text-align: center;
    }
    
    .eatatmest .bgcard {
        padding: 105% 5% 5% 5%;
    }

    .eatatmest .bgcard article{
        width: 94%;
    }
    
    .eatatmest .s2, 
    .eatatmest .s3 {
        margin-top: -35%;
    }

/* cards */

 /*START of Header*/

 .none{
    display: none;
}
    
.hide{
    display: none;
}
    
header{
    height: 80vw;
    margin-bottom: 5%;
}

    
.logo{
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 6vw 27vw;
}

.bm{
    border: none;
    position: relative;
    top: 0;
    left: 33vw;
    font-size: 6vw;
    color: var(--white);
    background-color: transparent;
}

ul{
    width: 100%;
    background-color: var(--red);
    position: absolute;
    margin-top: 12vw;
    height: fit-content;
}

ul li{
    width: 100%;       
}

ul li a{
    width: 100%;
    border-bottom: 1px solid var(--white);
    /*padding: 5% 0;*/
    padding: 5vw 0;
    font-size: 3vw;
}

.headertext{
    width: 90%;
    position: relative;
    top: 46vw;
    margin: 0 auto;
    color: var(--white);
    text-align: center;
}

.landingpageheader .headertext {
    top: 36vw;
}

.heroline{
    border: solid var(--white) 1px;
}

h5,
header div h1{
    font-size: 8vw;
    font-weight: bolder;
}

header div h1 {
    color: var(--white);
}

h6{
    font-size: 4vw;
}

/* END of Header */

/* START of h1 h2 p hr img properties */

    .introduction,
    .aboutusarticle
    {
        width: 80%;
        margin: 0 auto;
    }

    .s2,
    .s3,
    .s4 {
        width: 88%;
        margin: 5% auto;
    }


    h1+hr+p,
    h3+hr+p,
    h3+p{
        text-align: center;
    }

    h1,
    h2,
    h3 {
        text-align: center;
        line-height: 1.6;   
        width: 85%;
        margin: 0 auto;
    }  


    h1 {
        font-size: 32px;
    }

    h2{
        font-size: 26px;
    }

    h3 {
        font-size: 6vw;
    }

    p {
        font-size: 24px; 
        text-align: left;
        line-height: 1.6;
        margin: 25px 0;
    }

    img {
        width: 100%;
    }

    .titleline{
        margin: 12px auto 0 auto;
        width: 70%;
    }

    .sectionline {
        margin: 45px auto;
        width: 95%; 
    }

/* END of h1 h2 p hr img properties */


    /* START of Breaking sections */

    .breakingsection_text {
        color: var(--white);
        padding: 20% 12% 6% 12%;
    }

    .reservationheight {
        padding: 12% 12% 0% 12%;
     }

     #bg-reservation a {
         margin-top: 0;
         margin-bottom: 3%;
     }

    #bg-quality_service {
        background-image: url(../images/quality_service.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        max-width: 100%;
    }

    #bg-reservation {
        background-image: url(../images/reservation.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        max-width: 100%;
        margin-bottom: 5%;
    }

/* END of Breaking sections */

/* aboutUs grid */

main.aboutus {
    width: 75%;
    margin: 0 auto;
}

.aboutUs_grid {
    display: grid;
    grid-template-areas: 
    "story_text" "story_img"
    "today_text" "today_img" 
    "owners_text" "owners_img";
}
.aboutUs_grid p {
    font-size: 20px;
}

.aboutUs_grid img {
    margin-bottom: 10%;
}

/* aboutUs grid */

/* START of Seasonal section in menu page */

#all_seasons {
    display: grid;
    grid-template-areas: 
    "winter spring"
    "summer autumn";
    grid-gap: 2vw;
}

#all_seasons a {
    text-align: center;
    text-decoration: none;
    color: var(--white);
    font-size: 4vw;
    margin-top: 0;
    padding: 10vw;
}

.season {
    width: 48vw;
    height: 26vw;
}

#Seasonal_menu {
    margin-bottom: 5%;
}

/* END of Seasonal Menu section on menu page */

/* START of Eat At Mest section on menu page */

.friday {             
    padding: 10vw;
    height: 24vw;
    margin-bottom: 5%;
}

.friday a {
    font-size: 4vw;
}

/* END of Eat At Mest section on menu page */

/* Contact US */

.contact{
    margin: 0 auto;
    width: 91.1%;
}

.contact_grid {
    grid-template-areas: "address" "map";
    
}
.address {
    margin-bottom: 20px;
}
.address hr {
    width: 35%;
    margin: 0 auto 20px auto;
}
.contact_map {
    height: 45vw;
    margin: 0 auto 20px auto;
    width: 90vw;
}
/* Contact US END */

/* START of Form */

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    resize: vertical;
    font-size: 24px;
}

input {
    font-size: 24px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color:  var(--red);
    width: 65%;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #6a1220;
}

.form {
    border-radius: 5px;
    padding: 20px;
    font-size: 24px;
}

.form1 {
    float: left;
    width: 35%;
    margin-top: 6px;
}

.form2 {
    float: left;
    width: 65%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


#email, #phone, #date, #name, #subject, #event{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

textarea {
    height: 170px;
}

/* END of Form */


/* START of Footer */

footer p {
    font-size: 20px;
}

footer {
    padding: 6vw 4vw 3vw 4vw;
    grid-template-areas: 
    "logo logo" 
    "location contacts" 
    "icons icons";
}
.location {
    width: 45vw;
}
.contacts {
    width: 45vw;
}
.footerlogo {
    padding-top: 11%;
}
/* END of Footer */

    .reservation a, .reservation p          { text-align: center;}
    .reservation a                          { margin-top: 10px;}
    .reservation p                          { margin: 0;}
    .reservation                            { margin-bottom: 40px;}
    .wedding_menu_line{
        width: 85%;
        margin: 0 auto;
    }

}

@media (min-width:1025px) and (max-width:1440px){

nav{
    position: fixed;
    z-index: 2;
}

  /* MENU */
  .food_menu img {
    width: 30vw;
}

  .menu_border {
    border: 1px solid black;
    padding: 4%;
    margin-bottom: 5%;
}

/* MENU END */

/* cards */

.bgcardseasonalmenu,
.bgcardeatatmest,
.bgcardevent,
.bgcardconfirmation,
.bgcardwedding,
.bgcardeatatmestmenu1,
.bgcardeatatmestmenu2,
.bgcardeatatmestmenu3,
.bgcardeatatmestmenu4 {
    background-image: none;
}

.cardp br {
    display: none;
}

.cardh {
   font-size: 1.3rem;
   color: var(--red);
}

.cardp {
   font-size: 1rem;
}

.s2,
.s3,
.s4 {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: fit-content;
}

.landingpage_main .s2,
.landingpage_main .s3,
.landingpage_main .s4 {
    margin: 4rem auto;
} 

.s2 article,
.s3 article,
.s4 article,
.s5 article,
.s6 article{
    position: relative;
    top: 3.3rem;
    left: -3vw;
    width: 30rem;
    padding: 3vw 3vw 5vw 3vw;
}

.landingpage_main .s2 article,
.landingpage_main .s3 article,
.landingpage_main .s4 article{
    top: 2.2rem;
}

.eatatmest .s2 article,
.eatatmest .s3 article,
.eventspage .s2 article,
.eventspage .s3 article{
    top: 1.5rem;
    padding: 2vw 2vw 2vw 2vw;
}

.eatatmest section.s3,
.eatatmest section.s2,
.eventspage section.s2,
.eventspage section.s3{
    margin: 5rem auto;
}
.s2 img,
.s3 img,
.s4 img {
    height: 22rem;
    width: 30rem;
    position: relative;
    left: 3vw;
    top: 0vw;
}
.eatatmest .s2 img,
.eatatmest .s3 img{
    height: 22rem;
    width: 30rem;
}
.eventspage .s2 img,
.eventspage .s3 img{
    height: 20rem;
    width: 32rem;
}

.eatatmest p {
    text-align: center;
    margin: 10px 0;
}



.s3 { flex-direction: row-reverse;}
.s3 img { left: -3vw;}
.s3 article{ left: 3vw;}

/* cards */

   /*Header*/

   header{
    height: 30vw;
    margin-bottom: 4rem;
}

#btnToggleMenu{
    display: none;
}

.landingpageheader{
    height: 100vh;
}

nav{
    width: 100%;
    padding: 0 7vw;
    background-color: rgba(25, 28, 39, 0.8);
}

nav:hover{
    background-color: var(--blue);
}

.logo{
    width: 15vw;
}

ul{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 30vw;
}

nav ul li { font-size: 1vw;}


li a{
    padding: 1.2vw 0.8vw;
}

li a:hover{
    background-color: var(--red);
}

.none{
    display: inline-block;
    color: white;
    padding: 1.1vw 0;
}

.headertext{
    width: 73vw;
    position: relative;
    margin: 0 auto;
    top: 12vw;
    color: white;
    text-align: center;
}

.landingpageheader .headertext {
    top: 50vh;
}

hr{
    border: solid white 1px;
}

h5,
header div h1{
    font-size: 7vw;
    font-weight: bolder;
}

header div h1 {
    color: var(--white);
}

h6{
    font-size: 3.5vw;
}
   /*Header*/



.introduction,
.aboutusarticle
{
    width: 60%;
    margin: 0 auto;
}

    h1+hr+p,
    h3+p,
    h3+hr+p {
        text-align: center;
    }

    h1,
    h2,
    h3 {
        text-align: center;
        line-height: 1.4;   
        width: 80%;
        margin: 0 auto;
    }    

    h1 {
        font-size: 34px;
    }

    h2,
    h3 {
        font-size: 32px;
    }

    p {
        font-size: 1.4rem; 
        text-align: left;
        line-height: 1.6;
        margin: 20px 0;
    }

    img {
        width: 100%;
    }

    .titleline{
        margin: 12px auto 0 auto;
        width: 50%;
        background-color: var(--gray);
    }

    .sectionline {
        margin: 45px auto;
        width: 95%; 
        background-color: var(--gray);
    }

        /* button */

article a{
    padding: 3%;
    margin-top: 0%;
}

#bg-reservation a {
    padding: 2%;
    margin-top: 0;
}

/* button */

  /* START of Breaking sections */


    .breakingsection_text {
        color: var(--white);
        padding: 15% 12% 0% 12%;
    }
    
     .reservationheight {
        padding: 12% 12% 0% 12%;
     }
    
    
    #bg-quality_service {
        background-image: url(../images/quality_service.jpg);
        background-size: cover;
        height: 35vw;
        background-repeat: no-repeat;
        max-width: 100%;
    }
    
    #bg-reservation {
        background-image: url(../images/reservation.jpg);
        background-size: cover;
        height: 35vw;
        background-repeat: no-repeat;
        max-width: 100%;
        margin-bottom: 4rem;
    }
    
    #bg-quality_service hr{
        width: 30%;
        margin: 20px auto 0 auto;
        color: var(--white);
        border-color: var(--white);
        }
    
        #bg-reservation hr {
            width: 70%;
            margin: 0 auto;
            color: var(--white);
            border-color: var(--white);
        } 
        #bg-quality_service h3,
        #bg-reservation h3 {
            font-size: 40px;
        }
    
        #bg-quality_service p,
        #bg-reservation p {
            font-size: 28px;
        }

    /* END of Breaking section/*


/* aboutUs grid */

main.aboutus {
    width: 90%;
    margin: 0 auto 10% auto;
}

.aboutUs_grid {
    display: grid;
    grid-gap: 2%;
    grid-template-columns: 49% 49%;
    grid-template-areas: 
    "story_text story_img"
    "today_img today_text"
    "owners_text owners_img";
}
.aboutUs_grid p {
    font-size: 16px;
}



.story_img {
    padding-top: 128px;
}

.today_img {
    padding-top: 84px;
}

.owners_img {
    padding-top: 84px;
}
/* aboutUs grid */


/* START of Seasonal section in menu page */

section#all_seasons {
    margin: 0 2vw;
}

#all_seasons {
display: grid;
grid-template-areas: 
"winter spring summer autumn";
}

#all_seasons a {
text-align: center;
text-decoration: none;
color: var(--white);
font-size: 2.7rem;
margin-top: 0;
padding-top: 7.5vw;
}

#all_seasons a:hover{
    transition: ease-in-out all .5s;
    animation-name: seasonalhover;
    animation-duration: .1s;
    animation-fill-mode: both;
    animation-direction: alternate;
}

@keyframes seasonalhover{
 0% {background-size: cover;}
10% {background-size: 350%;}
20% {background-size: 355%;}
30% {background-size: 360%;}
40% {background-size: 365%;}
50% {background-size: 370%;}
60% {background-size: 375%;}
70% {background-size: 380%;}
80% {background-size: 385%;}
90% {background-size: 390%;}
100%{background-size: 400%;
    font-size: 2.8rem;
    text-shadow: var(--black) 5px 5px 5px;}
}



.season {
width: 20vw;
height: 20vw;
}

#Seasonal_menu {
    margin-bottom: 4.5rem;
}

/* END of Seasonal Menu section on menu page */

/* START of Eat At Mest section on menu page */

.friday {             
    padding-top: 6.5vw;
    height: 20vw;
    margin-bottom: 4.5rem;
}

.friday a {
    font-size: 4rem;
}

.friday a:hover {
    font-size: 4.4rem;
    transition: ease-in-out all .2s;
    text-shadow: var(--black) 5px 5px 5px;
}


/* END of Eat At Mest section on menu page */

/* Contact US */

.contact{
    width: 90%;
    margin: 0 auto;
}

 .contact_grid {
     grid-template-areas: "address map";
 }
 .address {
     border-right: 1px solid var(--black);
     margin-bottom: 20px;
     width: 45vw;
     height: 35vw;
     padding-top: 5vw;
     margin: 5vw 0;
 }
 .address hr {
     margin: 0 auto 20px auto;
     width: 55%;
 }
 .contact_map {
     width: 35vw;
     height: 35vw;
     margin-top: 5vw;
 }
/* Contact US END */

/* START of Form */

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    resize: vertical;
    font-size: 24px;
}

input {
    font-size: 24px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color:  var(--red);
    width: 45%;
    margin-right: 15%;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #6a1220;
}

.form {
    border-radius: 5px;
    padding: 20px;
    font-size: 24px;
}

.form1 {
    float: left;
    width: 25%;
    margin-left: 15%;
    margin-top: 6px;
}

.form2 {
    float: left;
    width: 45%;
    margin-right: 15%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


#email, #phone, #date, #name, #subject, #event{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

textarea {
    height: 170px;
}

/* END of Form */

/* START of Footer */
footer {
    padding: 6vw 5vw 3vw 5vw;
    grid-template-areas: 
    "logo logo logo" 
    "location contacts icons";
}

footer p {
    font-size: 20px;
}


.location {
    width: 30vw;
}
.contacts {
    width: 30vw;
}
.footerlogo {
    padding-top: 5%;
    margin-bottom: 3%;
}
.icons_social {
    width: 30vw;
}
/* END of Footer */

.reservation a, .reservation p              { text-align: center;}
    .reservation a                          { margin-top: 10px;}
    .reservation p                          { margin: 0;}
    .reservation                            { margin: 20px 0 40px 0;}
    .wedding_menu_line{
        width: 85%;
        margin: 0 auto;
    }
    /* SCROLL 
    ::-webkit-scrollbar           { width: 10px;}
    ::-webkit-scrollbar-track     { background: var(--blue);}
    ::-webkit-scrollbar-thumb     { background: var(--red);}
     SCROLL */

}

@media (min-width:1441px){

    nav{
        position: fixed;
        z-index: 2;
    }

    main.aboutus {
        width: 65%;
        margin: 0 auto;
    }

    /* button */

article a, {
    padding: 2rem;
    margin-top: 0%;
}

#bg-reservation a {
    padding: 2rem;
    margin-top: 0;
}

/* button */

    /* MENU */
    .food_menu img {
        width: 24vw;
    }

    .menu_border {
        border: 1px solid black;
        padding: 4%;
        margin-bottom: 5%;
    }
    /* MENU END */

   /* cards */

.bgcardseasonalmenu,
.bgcardeatatmest,
.bgcardevent,
.bgcardconfirmation,
.bgcardwedding,
.bgcardeatatmestmenu1,
.bgcardeatatmestmenu2,
.bgcardeatatmestmenu3,
.bgcardeatatmestmenu4   {
    background-image: none;
}

.cardp br {
    display: none;
}

.s2,
.s3,
.s4 {
    display: flex;
    flex-direction: row;
    margin: 4.5rem auto;
    width: fit-content;
}

.s2 article,
.s3 article,
.s4 article,
.s5 article,
.s6 article{
    position: relative;
    top: 3.7vw;
    left: -3vw;
    width: 40rem;
    padding: 3vw 3vw 5vw 3vw;
}

.s2 img,
.s3 img,
.s4 img {
    height: 30rem;
    width: 45rem;
    position: relative;
    left: 3vw;
}

.s3 { flex-direction: row-reverse;}
.s3 img { left: -3vw;}
.s3 article{ left: 3vw;}

.eatatmest p {
    text-align: center;
}
/* cards */

/* header*/
header{
    height: 30vw;
    margin-bottom: 4.5rem;
}
.landingpageheader{
    height: 100vh;
}

#btnToggleMenu{
    display: none;
}

nav{
    width: 100%;
    padding: 0 7vw;
    background-color: rgba(25, 28, 39, 0.8);
}

nav:hover{
    background-color: var(--blue);
}

.logo{
    width: 16vw;
}

ul{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 30vw;
}

nav ul li { font-size: 1vw;}

li a{
    padding: 1.5vw 0.8vw;
}

li a:hover{
    background-color: var(--red);
}

.none{
    display: inline-block;
    color: white;
    padding: 1.5vw 0;
}

.headertext{
    width: 80vw;
    position: relative;
    margin: 0 auto;
    top: 12vw;
    color: white;
    text-align: center;
}

.landingpageheader .heroheadertext{
    top: 45vh;
}

hr{
    border: solid white 1px;
}

h5,
header div h1{
    font-size: 7vw;
    font-weight: bolder;
}

header div h1 {
    color: var(--white);
}

h6{
    font-size: 3.5vw;
}
/*header*/



.introduction,
.aboutusarticle
{
    width: 50%;
    margin: 0 auto;
}

.introduction p {
    font-size: 22px;
    line-height: 1.8;
}

    h1+hr+p,
    h3+p,
    h3+hr+p {
        text-align: center;
    }

    h1,
    h2,
    h3 {
        text-align: center;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2.2rem;
    }
    h3 {
        font-size: 1.8rem;
    }

    p {
        font-size: 1.4rem; 
        text-align: left;
        line-height: 1.6;
        margin: 20px 0;
        }

    img {
        width: 100%;
    }

    .titleline{
        margin: 0.5rem auto 0 auto;
        width: 50%;
        background-color: var(--gray);
    }

    .sectionline {
        margin: 4.5rem auto;
        width: 95%; 
        background-color: var(--gray);
    }

    main hr {
        border-color: var(--gray);
    }

    /* START of Breaking sections */

  .breakingsection_text {
    color: var(--white);
    padding: 16% 12% 3% 12%;
}

 .reservationheight {
     padding: 12% 12% 3% 12%;
 }


#bg-quality_service {
    background-image: url(../images/quality_service.jpg);
    background-size: cover;
    height: 32vw;
    background-repeat: no-repeat;
    max-width: 100%;
    margin: 4.5rem 0;
}

#bg-reservation {
    background-image: url(../images/reservation.jpg);
    background-size: cover;
    height: 32vw;
    background-repeat: no-repeat;
    max-width: 100%;
    margin: 4.5rem 0;
}

#bg-quality_service hr{
    width: 30rem;
    margin: 20px auto 0 auto;
    color: var(--white);
    border-color: var(--white);
    }

    #bg-reservation hr {
        width: 33rem;
        margin: 0 auto;
        color: var(--white);
        border-color: var(--white);
    } 
    #bg-quality_service h3,
    #bg-reservation h3 {
        font-size: 3.6rem;
    }

    #bg-quality_service p,
    #bg-reservation p {
        font-size: 2.2rem;
    }
/* END of Breaking sections */

/* aboutUs grid */

main.aboutus {
    width: 90%;
    margin: 0 auto 10% auto;
}

.aboutUs_grid {
    display: grid;
    grid-gap: 2%;
    grid-template-columns: 49% 49%;
    grid-template-areas: 
    "story_text story_img"
    "today_img today_text"
    "owners_text owners_img";
}
.aboutUs_grid p {
    font-size: 20px;
}

.story_img,
.today_img,
.owners_img {
    padding-top: 84px;
}

/* aboutUs grid */


    /* START of Seasonal section in menu page */

    section#all_seasons {
        margin: 0 2vw;
    }

#all_seasons {
    display: grid;
    grid-template-areas: 
    "winter spring summer autumn";
}

#all_seasons a {
    text-align: center;
    text-decoration: none;
    color: var(--white);
    font-size: 3.5rem;
    margin-top: 0;
    padding-top: 7.5vw;
}

#all_seasons a:hover{
    transition: ease-in-out all .5s;
    animation-name: seasonalhover;
    animation-duration: .1s;
    animation-fill-mode: both;
    animation-direction: alternate;
}

@keyframes seasonalhover{
 0% {background-size: cover;}
10% {background-size: 350%;}
20% {background-size: 355%;}
30% {background-size: 360%;}
40% {background-size: 365%;}
50% {background-size: 370%;}
60% {background-size: 375%;}
70% {background-size: 380%;}
80% {background-size: 385%;}
90% {background-size: 390%;}
100%{background-size: 400%;
    font-size: 3.8rem;
    text-shadow: var(--black) 5px 5px 5px;}
}

.season {
    width: 20vw;
    height: 20vw;
}

#Seasonal_menu{
    margin-bottom: 4.5rem;
}

/* END of Seasonal Menu section on menu page */

/* START of Eat At Mest section on menu page */

.friday {             
    padding-top: 5.5vw;
    height: 20vw;
    margin-bottom: 4.5rem;
}

.friday a {
    font-size: 6rem;
}

.friday a:hover {
    font-size: 6.6rem;
    transition: ease-in-out all .2s;
    text-shadow: var(--black) 5px 5px 5px;
}


/* END of Eat At Mest section on menu page */

    /* Contact US */

   .contact{
       width: 90%;
       margin: 0 auto;
   }

    .contact_grid {
        grid-template-areas: "address map";
    }
    .address {
        border-right: 1px solid var(--black);
        margin-bottom: 20px;
        width: 45vw;
        height: 35vw;
        padding-top: 5vw;
        margin: 5vw 0;
    }
    .address hr {
        margin: 0 auto 20px auto;
        width: 55%;
    }
    .contact_map {
        width: 35vw;
        height: 35vw;
        margin-top: 5vw;
    }

    /* Contact US END */

    /* START of Form */

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    resize: vertical;
    font-size: 24px;
}

input {
    font-size: 24px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color:  var(--red);
    width: 40%;
    margin-right: 20%;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #6a1220;
}

.form {
    border-radius: 5px;
    padding: 20px;
    font-size: 24px;
}

.form1 {
    float: left;
    width: 20%;
    margin-left: 20%;
    margin-top: 6px;
}

.form2 {
    float: left;
    width: 40%;
    margin-right: 20%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


#email, #phone, #date, #name, #subject, #event{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

textarea {
    height: 170px;
}

/* END of Form */

        /* START of Footer */
        footer {
            padding: 5vw 5vw 3vw 5vw;
            grid-template-areas: 
            "logo logo logo" 
            "location contacts icons";
        }
        .location {
            width: 30vw;
        }
        .contacts {
            width: 30vw;
        }
        .footerlogo {
            padding-top: 5%;
            margin-bottom: 3%;
        }
        .icons_social {
            width: 22vw;
        }

        footer p,
        footer a {
            font-size: 22px;
        }
        /* END of Footer */

        .reservation a, .reservation p          { text-align: center;}
        .reservation a                          { margin-top: 10px;}
        .reservation p                          { margin: 0;}
        .reservation                            { margin: 20px 0 40px 0;}
        .wedding_menu_line{
            width: 70%;
            margin: 0 auto;
        }
        /* SCROLL 
    ::-webkit-scrollbar           { width: 10px;}
    ::-webkit-scrollbar-track     { background: var(--blue);}
    ::-webkit-scrollbar-thumb     { background: var(--red);}
         SCROLL */
}
